{% extends "dashboard.html" %}


{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">{{ shop.name }} Orders
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <form method="get" action="">
                            {{ filter.form }}
                            <br/><br/>
                            <input type="submit">
                        </form>
                        <button class="active btn btn-focus">Last Week</button>
                        <button class="btn btn-focus">All Month</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Customer</th>
                            <th class="text-center">Total Price</th>
                            <th class="text-center">Total QTY</th>
                            <th class="text-center">%</th>
                            <th class="text-center">Order Created</th>
                            <th class="text-center">Order Updated</th>
                            <th class="text-center">Paid</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for order in filter.qs %}
                        <tr>
                            <td class="text-center text-muted">#{{ order.id }}</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" height="40" class="rounded-circle"
                                                    src="{{ order.customer.image.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">
                                                {{ order.customer.username }}
                                            </div>
                                            <div class="widget-subheading opacity-7">
                                                {{ order.customer }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{ order.total_price }}</td>
                            <td class="text-center">{{ order.total_quantity }}</td>
                            <td class="text-center">{{ order.discount }}</td>
                            <td class="text-center">{{ order.created_at.date }}</td>
                            <td class="text-center">{{ order.updated_at }}</td>
                            <td class="text-center">
                                {% if order.is_payment %}
                                <div class="text-success w-75"><i class="fa fa-check"></i>
                                </div>
                                {% else %}
                                <div class="text-danger w-75"><i class="fa fa-times"> </i>
                                </div>
                                {% endif %}
                            </td>
                            <td class="text-center">

                                <select name="status" id="id_status" {% if order.status == 'CANCELED' %} disabled {% endif %}>
                                    <option value="CONFIRMED" {% if order.status == 'CONFIRMED' %} selected="" {% endif %}>CONFIRMED</option>
                                    <option value="CHECKING" {% if order.status == 'CHECKING' %} selected="" {% endif %}>CHECKING</option>
                                    <option value="" {% if  not order.status %} selected ="" {% endif %}disabled>---------</option>
                                <input  hidden value={{order.product.SHOP.slug}} name = "slug">
                                <input class="btn btn-success btn-icon-split" type="submit" value= 'Save' >

                                {% if order.status == 'CONFIRMED' %}
                                <a href="{% url 'order_status_url' slug=shop.slug pk=order.id %}" class="badge badge-success w-100 btn">{{ order.status }}</div>
                                {% elif order.status == 'CHECKING' %}
                                <a href="{% url 'order_status_url' slug=shop.slug pk=order.id %}" class="badge badge-warning w-100 btn">{{ order.status }}...</div>
                                {% else %}
                                <a href="{% url 'order_status_url' slug=shop.slug pk=order.id %}" class="badge badge-danger w-100 btn">{{ order.status }}</div>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{% url 'order_detail_url' slug=shop.slug id=order.id %}" type="button" id="PopoverCustomT-1"
                                    class="btn btn-primary btn-sm">Details</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="d-block text-center card-footer">
                <a href="{% url 'create_product_url' slug=shop.slug %}" class="btn-wide btn btn-outline-warning">
                    Save
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}