{% extends "dashboard.html" %}


{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            {% for order in order_list %}
            <div class="card-header text-center">
                {{ shop.name }} Shop | Order #{{ order.id }} Details
            </div>


            <div class="container">
                <div class="widget-content row card">
                    <div class=" col-6 widget-content-right">
                        <div class="widget-content-left mr-3">
                            <div class="widget-content-left">
                                <img width="40" height="40" class="rounded-circle pt-0 mt-0"
                                    src="{{ order.customer.image.url }}" alt="">
                            </div>
                        </div>
                        <div class="widget-content-left flex2">
                            <div class="widget-heading">
                                {{ order.customer.username }}
                            </div>
                            <div class="widget-subheading opacity-7">
                                {{ order.customer }}

                            </div>
                            {{ order.customer.email }}
                        </div>
                        {{ order.customer.address }}
                    </div>

                    <div class=" col-6 widget-content-right">
                        <div class="widget-content-left mr-3">
                            <div class="widget-content-left">

                                {% if order.status == 'CONFIRMED' %}
                                <div class="badge badge-success btn">{{ order.status }}</div>
                                {% elif order.status == 'CHECKING' %}
                                <div class="badge badge-warning btn">{{ order.status }}...</div>
                                {% else %}
                                <div class="badge badge-danger btn">{{ order.status }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="widget-content-left flex2">
                            <div class="widget-heading">
                                {% if order.is_payment %}
                                <div class="text-success w-100">Payment : <i class="fa fa-check"></i>
                                </div>
                                {% else %}
                                <div class="text-danger w-100">Payment: <i class="fa fa-times"></i>
                                </div>
                                {% endif %}
                            </div>

                            Created Date : {{ order.created_at.date }}
                        </div>
                        Updated Date : {{ order.updated_at }}
                    </div>

                    <div class="col-5 widget-content-right">
                        <div class="main-card mb-3 ">

                            <div class="text-center">
                            </div>
                            <div class="text-center">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">


                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Product</th>
                            <th class="text-center">Unit Price</th>
                            <th class="text-center">QTY</th>
                            <th class="text-center">%</th>
                            <th class="text-center">Shop</th>
                            <th class="text-center">Total Price</th>

                        </tr>
                    </thead>
                    <tbody>


                        {% for item in orderitem_list %}
                        <tr>
                            <td class="text-center text-muted">#{{ item.id }}</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">

                                                <img width="60" height="65" class="" src="{{ item.product.get_image }}"
                                                    alt="">

                                            </div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">
                                                {{ item.product.name }}
                                            </div>
                                            <div class="widget-subheading opacity-7">
                                                {{ item.product.category }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{ item.unit_price }}</td>
                            <td class="text-center">{{ item.quantity }}</td>
                            <td class="text-center">{{ item.discount }}</td>
                            <td class="text-center">{{ item.product.shop.name }}</td>
                            <td class="text-center"><b>{{ item.total_item_price }}</b></td>

                        </tr>

                        {% endfor %}

                    </div>
                    <div class="d-block text-center card-footer">
                        
                        <tr>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">Total QTY: {{ order.total_quantity }}</td>
                            <td class="text-center">% Discount: {{ order.discount }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center"><b>Total Price: {{ order.total_price }}</b></td>
                        </tr>
                    </tbody>
                </table>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}