{% extends "dashboard.html" %}


{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">{{ shop.name }} Orders
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">

                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>

                        <br>
                        <tr>
                            <div class="container">

                                <div class="row text-center align-middle widget-content-wrapper">
                                    <form method="get" action="">
                                        <div class="col-4 widget-subheading opacity-7 widget-content-right">
                                            <b>
                                                Start Date: {{ filter.form.start_date }}
                                            </b>
                                        </div>
                                        <div class="col-4 widget-subheading opacity-7 widget-content-left">
                                            <b>
                                                End Date: {{ filter.form.end_date }}
                                            </b>
                                        </div>
                                        <!-- <div class="col-1"></div> -->
                                        <div class="col-3 widget-subheading opacity-7">
                                            <b>
                                                Status: {{ filter.form.status }}
                                            </b>
                                        </div>
                                        <div class="col-1 widget-content-right">
                                            <input class="btn btn-primary btn-sm" type="submit">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </tr>
                        <hr>

                        <tr>
                            <th class="text-center">#</th>
                            <th>Customer</th>
                            <th class="text-center">Total Price</th>
                            <th class="text-center">Total QTY</th>
                            <th class="text-center">%</th>
                            <th class="text-center">Order Created</th>
                            <th class="text-center">Order Updated</th>
                            <th class="text-center">Paid</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for order in filter.qs %}
                        <tr>
                            <td class="text-center text-muted">#{{ order.id }}</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" height="40" class="rounded-circle"
                                                    src="{{ order.customer.image.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">
                                                {{ order.customer.username }}
                                            </div>
                                            <div class="widget-subheading opacity-7">
                                                {{ order.customer }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{ order.total_price }}</td>
                            <td class="text-center">{{ order.total_quantity }}</td>
                            <td class="text-center">{{ order.discount }}</td>
                            <td class="text-center">{{ order.created_at.date }}</td>
                            <td class="text-center">{{ order.updated_at }}</td>
                            <td class="text-center">
                                {% if order.is_payment %}
                                <div class="text-success w-75"><i class="fa fa-check"></i>
                                </div>
                                {% else %}
                                <div class="text-danger w-75"><i class="fa fa-times"> </i>
                                </div>
                                {% endif %}
                            </td>
                            <td class="text-center">



                                {% if order.status == 'CONFIRMED' %}
                                <a href="{% url 'order_status_url' slug=shop.slug pk=order.id %}"
                                    class="btn btn-success w-100" onclick="setAttr(this)"> {{ order.status }} </a>

            </div>
            {% elif order.status == 'CHECKING' %}
            <a href="{% url 'order_status_url' slug=shop.slug pk=order.id %}" class="btn btn-warning w-100"
                onclick="setAttr(this)"> {{ order.status }}... </a>

        </div>
        {% else %}
        <a href="{% url 'order_status_url' slug=shop.slug pk=order.id %}" class="btn btn-danger w-100"
            onclick="setAttr(this)"> {{ order.status }} </a>

    </div>
    {% endif %}
    </td>
    <td class="text-center">
        <a href="{% url 'order_detail_url' slug=shop.slug id=order.id %}" type="button" id="PopoverCustomT-1"
            class="btn btn-primary btn-sm">Details</a>
    </td>
    </tr>
    {% endfor %}

    </tbody>
    </table>
</div>
<div class="d-block text-center card-footer">


</div>
</div>
</div>
</div>


{% endblock content %}