{% load static %}

<!doctype html>
<html lang="en">

<head>
	<title>BabaShop | Phone Validation</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="img js-fullheight" style="background-image: url({% static 'images/bg.jpg' %})">
	<section class="ftco-section pb-0 pt-4">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5 text-center mb-5"></div>
				<div class="col-md-5 text-center mb-5 pt-5">
					<h2 class="heading-section">Baba Shop</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-5 col-lg-5"></div>
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Phone Validation</h3>

						{% if messages %}
						<div class="messages text-center p-0 mt-0 mb-2" style="background: transparent;
								background: #ffffffcc;
								border-radius: 14px;">
							{% for message in messages %}
							<b class="text-center {% if message.tags %}text-{{ message.tags }}{% endif %} p-0 m-0">
								{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
								{{ message }}
							</b>
							{% endfor %}
						</div>
						{% endif %}

						<form action='{% url "supplier_phone_verify_url" %}' method="post">
							{% csrf_token %}

							<div class="input-group mb-3">
								<a href='{% url "supplier_phone_otp_url" %}' 
									style="border-top-right-radius: 0;
										padding-top: 3%;
										border-bottom-right-radius: 0"
									class="btn btn-outline-warning w-50" type="button">
								<i class="fa fa-fw fa-envelope mx-2"></i>
									<span class="mx-2">
										Send Code
									</span>
								</a>
								{{ form.otp }}
							</div>

							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Verify</button>
							</div>

						</form>
]
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>