{% load static %}

<!doctype html>
<html lang="en">

<head>
	<title>BabaShop | Login By OTP</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="img js-fullheight" style="background-image: url({% static 'images/bg.jpg' %})">
	<section class="ftco-section pb-0 pt-4">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5 text-center mb-5"></div>
				<div class="col-md-5 text-center mb-5 pt-5">
					<h2 class="heading-section">Baba Shop</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-5 col-lg-5"></div>
				<div class="col-md-5 col-lg-5">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Login By Code</h3>

						{% if messages %}
						<div class="messages text-center p-0 mt-0 mb-2" style="background: transparent;
								background: #ffffffcc;
								border-radius: 14px;">
							{% for message in messages %}
							<b class="text-center {% if message.tags %}text-{{ message.tags }}{% endif %} p-0 m-0">
								{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
								{{ message }}
							</b>
							{% endfor %}
						</div>
						{% endif %}

						<!-- <form action="#" class="signin-form"> -->
						<form action='{% url "supplier_login_url" %}' method="post">
							{% csrf_token %}

							<div class="input-group mb-3 pt-2">
								{{ form.phone }}
								<a onclick=generateOtp() 
									style="border-top-left-radius: 0;
										padding-top: 3%;
										border-bottom-left-radius: 0"
									class="btn btn-outline-warning w-25 btn_otp">
									<span class="mx-2">
										SMS
									</span>
									<i class="fa fa-fw fa-envelope"></i>
								</a>
							</div>

							<div class="form-group">
								{{ form.otp }}
							</div>
							
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3 mb-3">Sign In</button>
							</div>

						</form>
						<p class="w-100 text-center pt-5">&mdash; Do not have an account? &mdash;</p>
						<div class="social d-flex text-center">
							<div class="col-3"></div>
							<a href="{% url 'supplier_register_url' %}" class="px-2 py-2 mr-md-1 rounded"><span
									class="ion-logo-facebook mr-2"></span> Sign up</a>
							<div class="col-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<script>
		function generateOtp() {
			var values = {
				'phone': document.getElementById('login_phone').value
			};
			console.log(values)
			$.ajax({
				url: "{% url 'supplier_phone_otp_url' %}",
				data: values,
			});
		}
	</script>
	
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>